# General
bin/*
app/config/*
.DS_Store
._.DS_Store
.php_cs.cache

# Docker
docker/*

# Composer
vendor/*

# PHP Storm
.idea

# composer.lock is ignored - as this is a library
composer.lock

tests/config/integration.yml
